# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Django
db.sqlite3
staticfiles/
media/

# Build outputs
dist/
build/

# OS
.DS_Store

# IDE
.vscode/
.idea/