# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Django
db.sqlite3
staticfiles/
media/

# Build outputs
dist/
build/

# OS
.DS_Store

# IDE
.vscode/
.idea/
projectfinal/Dyscreen/model_learning/iheb_model.h5
projectfinal/Dyscreen/model_learning/dysgraphia_v3_bilingual_best_test1.keras
projectfinal/Dyscreen/model_learning/dysgraphia_R2CNN_TRPN_hebrew_finetuned.keras
projectfinal/Dyscreen/model_learning/dysgraphia_v3_bilingual_best_test2.keras
