
.home-content {
    max-width: 900px;
    width: 95%;
    text-align: center;
    padding: 40px 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    margin: 20px;
    font-size: 24px;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #038d5a;
    transition: all 0.2s;
}

.button:active {
    box-shadow: 0 5px #026b44;
    transform: translateY(4px);
}

.submit-btn-home {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    margin: 20px;
    font-size: 24px;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    color: #fff;
    background-color: #635BFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #3d389e;
    transition: all 0.2s;
}

.submit-btn-home:active{
    box-shadow: 0 5px #3d389e;
    transform: translateY(4px);
}

.button-row {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px;               
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button, .submit-btn-home {
    margin: 0; 
    width: 300px; 
    height: 60px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.content {
    background: rgba(6, 0, 16, 0.05); 
    backdrop-filter: blur(10px);         
    padding: 40px;
    border-radius: 20px;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-bottom: 30px;
    border-color: rgba(36, 40, 96, 0.85);
}

.content h1 {
    color: #dadce6;
    margin-bottom: 20px;
}

.content p {
    color: #dadce6;
    line-height: 1.6;
}

.content h3 {
    color: #dadce6;
    margin-bottom: 5px;
}

.file-name-text{
    color: white;
}

.results-container {
    margin-top: 20px;
    padding: 15px;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 0.5s ease-in;
}

.results-container h3 {
    color: white;
    font-weight: 600;
}

.progress-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;            
    width: 100%;
    margin-top: 20px;
}

.progress-wrapper {
    flex-grow: 1;         
    max-width: 400px;     
}

.result-label {
    white-space: nowrap; 
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
